.container{
    height: 400px;
    width: 1200px;
    background-color: white;
    display: grid;
    grid-template-columns: 50px 3fr 2fr 3fr 1.5fr 1.5fr 1fr ;
    grid-template-rows: repeat(7, 1fr);
    padding: 20px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.request-style{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.item1{
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
}
.item2{
     justify-self: start;
    align-self: center;
}
.item3{
    grid-column: 4/8;
    justify-self: start;
    align-self: center;
}
.item5{
    justify-self: start;
    align-self: center;
    
}
.item6{
    justify-self: start;
    align-self: center;
    
}
.item7{
    justify-self: start;
    align-self: center;
    
}
.item4{
    place-self: center;
}
.item8{
    justify-self: end;
    align-self: center;
    color: red;
}
.item9{
    place-self: center;

}
.item10{
    place-self: center;
}

img{
    border-radius: 50px;
}
button{
padding: 10px;
background-color: rgb(15, 202, 140);
border: none;
color: white;
border-radius: 4px;
width: 100px;
}
/* h3{
    margin: 0;
    
} */
.line {
    grid-column: 1 / -1;
    height: 2px;
    border-bottom: 1px solid rgb(216, 214, 214);
    width: 100%;
    
 }
 .line1{
    grid-column: 1 / -1;
    height: 2px;
    border-bottom: 1px solid rgb(156, 155, 155);
    width: 100%;
 }
h4{
    color: rgb(91, 90, 90);
}